* {
 box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100vh;
  background-color: #282D35;
}

nav {
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px
}

.nav--logo_text, .nav--title {
  margin : 0;
}

.nav--logo_text {
  margin-right: auto;
  margin-left: 8px;
  color: #61dafb;
  font-weight: 700;
  font-size: 22px;

}

.nav--title {
  color: #deebf8;
  font-weight: 600;
}

/* .Navbar {
  display: flex;
  justify-content: space-around;
} */

.nav--icon {
  height: 30px;
}

main {
  font-family: 'Inter', sans-serif;
  padding: 57px 27px;
  color: white;
  /* justify-content: center; */
  align-items:center;
}

.main--title {
  margin: 0;
  color: #deebf8;
  font-size: 39px;
  letter-spacing: -0.05em;

}

.main--facts {
  text-align: start;
  margin: 0;
  margin-top: 46px;
  align-items: center;
  display: inline-block;
  margin-left: 80px;

  /* max-width: 400px; */
}

.main--facts > li {

 line-height: 19px;
 padding-block: 10px;
}
